div.contactcard {
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    max-width: fit-content;
    padding: 5px;
}